<!-- <p>registro works!</p> -->
<div class="formulario"><h3>Registro</h3>
    <form (ngSubmit)="submitForm()">
        
        <label>Nombre del Alumno</label>
        <input [(ngModel)]="nombre" type="text" id="nombreAñadir" name="nombre">

        <label>Apellidos del Alumno</label>
        <input [(ngModel)]="apellidos" type="text" id="apellidoAñadir" name="apellidos">

        <label>Correo Electrónico</label>
        <input [(ngModel)]="correo" type="email" id="emailAñadir" name="email">

        <label>Edad</label>
        <input [(ngModel)]="edad" type="number" id="edadAñadir" name="edad">

        <label>Contraseña</label>
        <input [(ngModel)]="pass" type="password" id="passAñadir" name="contraseña">

        <label>Url Imagen</label>
        <input [(ngModel)]="imagen" type="text" id="ImagenAñadir" name="imagen">

        <button id="botonAñadir" value="Añadir">Enviar</button>
    </form>
 <p class="legal">Texto Legal.</p>
 </div>
