<!-- <p>formulario-consulta works!</p> -->
<div class="formulario"><form action=""><h3>Consulta</h3>
    <label for="">Nombre</label>
    <input type="text" placeholder="Nombre y Apellidos">

    <label for="">Correo</label>
    <input type="email" placeholder="ejemplo@gmial.com">

    <label for="">Mensaje</label>
    <textarea name="" id="" cols="30" rows="10" placeholder="Escriba un comentario"></textarea>

    <button id="botonAñadir" value="Añadir">Enviar</button>
 </form><p class="legal">Texto Legal.</p>
 </div>