@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color1: #cdeae8;
    --color2: #0d3f7c;
    --color3: #00214A;
    --color4: #04bbec;
    --color5: #ea25b5;
    --color6: #ff82f4;

}

body{
    font-family: 'Quicksand', sans-serif;
}

ul{
    background-color: var(--color3);
    color:  var(--color4);
    border-radius: 20px;
    box-shadow: 3px 8px 8px black;
}