@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --color1: #cdeae8;
    --color2: #0d3f7c;
    --color3: #00214A;
    --color4: #04bbec;
    --color5: #ea25b5;
    --color6: #ff82f4;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

}

h3{
    background-color: #00214A;
    color:  #cdeae8;
    text-align: center;
    width: 30vw;
}


ul{
    background-color: #cdeae8;
    color:  #00214A;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 3px 8px black;
    text-align: center;
    width: 30vw;
}