<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskLord</title>
</head>
<body>
  
  <nav>
    <h3>TaskLord</h3>
    <ul>
      <a href=""></a>
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/alumnos">Alumnos</a></li>
      <li><a routerLink="/profesores">Profesores</a></li>
      <li><a routerLink="/cursos">Cursos</a></li>
      <li><a routerLink="/acceso">Acceso</a></li>
      <li><a routerLink="/registro">Registro</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
    </ul>
  </nav>

<main>
  <router-outlet></router-outlet>
  <ng-template>
   
  </ng-template>
</main>
</body>
</html>

