<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componentes Angular</title>
</head>
<body>
<app-alumno></app-alumno>
<app-alumnos></app-alumnos>
<app-curso></app-curso>
<app-cursos></app-cursos>
<app-formulario-acceso></app-formulario-acceso>
<app-formulario-consulta></app-formulario-consulta>
<app-formulario-registro></app-formulario-registro>
<app-profesor></app-profesor>
<app-profesores></app-profesores>
</body>
</html>

