<!-- <p>formulario-registro works!</p> -->
<div class="formulario"><h3>Registro</h3>
    <form>
        
        <label>Nombre del Alumno</label>
        <input type="text" id="nombreAñadir" name="nombre">

        <label>Apellidos del Alumno</label>
        <input type="text" id="apellidoAñadir" name="apellidos">

        <label>Correo Electrónico</label>
        <input type="email" id="emailAñadir" name="email">

        <label>Edad</label>
        <input type="number" id="edadAñadir" name="edad">

        <label>Contraseña</label>
        <input type="password" id="passAñadir" name="contraseña">

        <label>Url Imagen</label>
        <input type="text" id="ImagenAñadir" name="imagen">

        <button id="botonAñadir" value="Añadir">Enviar</button>
    </form>
 <p class="legal">Texto Legal.</p>
 </div>