<!-- <p>formulario-acceso works!</p> -->
<body>
    
<div class="formulario"><h3>Acceso</h3>
    <form action="">
        <label for="">Usuario</label>
        <input [(ngModel)]="Usuario" type="text" id="usuario" name="usuario">

        <label for="">Contraseña</label>
        <input [(ngModel)]="Contrasena" type="password" id="contraseña" name="contraseña">
        
        <button (click)="correcto()" id="botonAcceso" value="Añadir">Enviar</button>
    </form>
</div>
<div *ngIf="enviar; then Sicorrecto else Nocorrecto"></div>

<ng-template #Sicorrecto>
    <h2>{{Usuario}}</h2>
    <p>Correcto</p>
</ng-template>

<ng-template #Nocorrecto>
    <h2>{{Usuario}}</h2>
    <p>Incorrecto</p>
</ng-template>


</body>